a:link {
    color: #eba741;
}

a:visited {
    color: #eba741;
}

a:hover {
    color: #fce338;
}

a:active {
    color: blue;
}


#Center{
  text-align: center;
}
#Center-image{
  width: 50%;
  display: block;
  margin: 0 auto;

}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
body{
  background: #16bffd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #16bffd, #cb3066); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #16bffd, #cb3066); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
