a:link {
    color: #eba741;
}

a:visited {
    color: #eba741;
}

a:hover {
    color: #fce338;
}

a:active {
    color: blue;
}


#Center{
  text-align: center;
}
#Center-image{
  width: 50%;
  display: block;
  margin: 0 auto;

}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
body{
  background: #9933ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#7171da, #9933ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7171da, #9933ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7171da, #9933ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7171da, #9933ff; /* Standard syntax */
}
